/* css reset */
*{
    margin: 0;
    padding: 0;
}


/* logo */
#logo img{
    width: 75px;
    height: 75px;
    border: 1px solid black;
    border-radius: 35px;
    margin: 25px;
    /* padding: 5px; */
}

/* navigation bar */
#navbar{
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}
#navbar ul{
    display: flex;
}

#navbar ul li{
     
     list-style: none; /*for remoing dot(.) */
     

}
#navbar ul li a{
    color: white;
    display: block;
    padding: 9px;
    text-decoration: none; /* remove underline*/
 
}
#navbar ul li a:hover{
    color: black
    background-color: white;
 
}